<div class="col-lg-8 col-lg-offset-2">
<% if session[:sent] != nil %>
  <% if session[:sent] %>
    <div class="alert alert-dismissable alert-success">
      <strong>Well done!</strong> You successfully sent us a message. We'll get back to you as soon as we can!
    </div>
  <% else %>
    <div class="alert alert-dismissable alert-fail">
      <strong>Submission Failed!</strong> Please check you've given us a valid email, and try again.
    </div>
  <% end %>
  <% session.delete(:sent) %>
<% end %>
<form class="form-horizontal" method="post", action="/mail">
  <fieldset>
    <legend>Contact Us</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="email...">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name="message"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>