<div class="well col-lg-12">
  <div class="col-lg-8 col-lg-offset-2">
  <% if session[:sent] != nil %>
    <% if session[:sent] %>
      <div class="alert alert-dismissable alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> You successfully sent us a message. We'll get back to you as soon as we can!
      </div>
    <% else %>
      <div class="alert alert-dismissable alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Submission Failed!</strong> Either your email is invalid, or you have been detected as a bot.
      </div>
    <% end %>
    <% session.delete(:sent) %>
  <% end %>
  <form class="form-horizontal" method="post", action="/mail">

    <fieldset>
      <legend>Contact Us</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="email..." value="<%=@email%>">
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Message</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" name="message"><%= @message %></textarea>
        </div>
      </div>
      <div class="form-group">
        <%= recaptcha_v3(action: 'mail') %>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
          <button class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
  </div>
</div>
<div class="well col-lg-12">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="col-md-offset-5 col-md-3"><strong>0161 - 434 - 9179</strong></div>
  </div>
</div>
