<link rel="stylesheet" href="vendor/blueimp/css/blueimp-gallery.min.css">
<style>
  #links {
    text-align: center;
  }
  #links a {
    padding: 5px;
    margin-bottom: 10px;

    display: inline-block;
  }
  #links a img {
    width: 52px;
  }
</style>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="well">
  <div id="links">
  </div>
</div>

<script>



(function(){

  var intergerPad = function (num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
  }

  var container = document.getElementById('links');
  var missing = []
  missing['009'] = true
  for(i=1;i<35;i++){
    if(!missing[intergerPad(i, 3)]) {
      link = document.createElement('a')
      link.href = '/img/gallery/image_' + intergerPad(i, 3) + '.jpg'
      img = document.createElement('img')
      img.src = '/img/thumbnails/image' + intergerPad(i, 3) + '.jpg'
      link.appendChild(img)
      container.appendChild(link)
    }
  }
})();

document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

<script src="vendor/blueimp/js/blueimp-gallery.min.js"></script>
