<div class="jumbotron">
  <div class="row">
    <div class="col-lg-6">
      <img src="/img/joe.jpg" />
    </div>
    <div class="col-lg-6">


      <blockquote>
        <p>Italian inspired and internationally recognised hairdressing expert.</p>
      </blockquote>
      <blockquote>
        <p>
          Nominated Northern Hairdresser of the Year four times. Published photographic work in leading hairdressing journals
        </p>
      </blockquote>
      <blockquote>
        <p>
          Art Director for prestigious Manchester / London Salons
        </p>
      </blockquote>

    </div>
  </div>
</div>
