<div class="jumbotron">
  <div class="row">
    <div class="col-lg-6">
      <img src="/img/joe.jpg" />
    </div>
    <div class="col-lg-6">
      <blockquote>
        To all our clients
      </blockquote>
      <blockquote>
        Let’s hope we all stay safe throughout this difficult period.
        We are providing a limited service where existing clients can receive a colour application pack and apply their own colour as prepared by Joe.  The pack can be delivered.
      </blockquote>
      <blockquote>
        If you would like to find out more about this service, please call 0161 434 9179 or via the contact form on this website.
      </blockquote>
      <blockquote>
        Joe
      </blockquote>

      <!--
      <blockquote>
        <p>Italian inspired and internationally recognised hairdressing expert.</p>
      </blockquote>
      <blockquote>
        <p>
          Nominated Northern Hairdresser of the Year four times. Published photographic work in leading hairdressing journals
        </p>
      </blockquote>
      <blockquote>
        <p>
          Art Director for prestigious Manchester / London Salons
        </p>
      </blockquote>
      -->
    </div>
  </div>
</div>
