<div class="row">
  <div class="col-lg-6">
    <div class="image-wrapper">
      <img src="/img/joe.jpg" />  
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Joe Petrillo</h3>
      </div>
      <div class="panel-body">
        <blockquote>
        <p>Italian inspired and internationally recognised hairdressing expert.</p>
        </blockquote>
        <blockquote>
          <p>
            Nominated Northern Hairdresser of the Year four times. Published photographic work in leading hairdressing journals
          </p>  
        </blockquote>
        <blockquote>
          <p>
            Art Director for prestigous Manchester / London Salons
          </p>  
        </blockquote>
      </div>
    </div>
  </div>
</div>