<div class="well">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Day</th>
        <th>Hours</th>
        <th>Late night bookings</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <div class="vagaro" style="width:250px; padding:0; border:0; margin:0 auto; text-align:center; font-size:14px; color:#AAA;"><style>.vagaro a {font-size:14px; color:#AAA; text-decoration:none;}</style><a href="https://sales.vagaro.com/">Powered by Vagaro</a>&nbsp;<a href="https://sales.vagaro.com/salon-software">Salon Software</a>,&nbsp;<a href="https://sales.vagaro.com/spa-software">Spa Software</a>&nbsp;&amp;&nbsp;<a href="https://sales.vagaro.com/fitness-software">Fitness Software</a><script type="text/javascript" src="https://www.vagaro.com//resources/WidgetPopupLoader/OZqoCZ0rCZGcT3qmV35y6RuSdBuOc1WJDvwXDxUra2StkvCxdfeJE1wgEJgoapOUc8?v=dk5Tw3yayklywbtKvGwG7QkVz5iJ065EvWKpjXOnzdNm#"></script></div>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>07:30 - Until Late</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>CLOSED</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>07:30 - Until Late</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>07:30 - Until Late</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>07:30 - Until Late</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>07:30 - 17:00</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>
