<div class="well training">
  <% if session[:training_signup] != nil %>
    <% if session[:training_signup] %>
      <div class="alert alert-dismissable alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Thanks!</strong> We'll let you know as soon as we ready to take reservations.
      </div>
    <% else %>
      <div class="alert alert-dismissable alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Submission Failed!</strong> Please check you've given us a valid email, and selected at least one course.
      </div>
    <% end %>
    <% session.delete(:training_signup) %>
  <% end %>
   <link rel="stylesheet" href="/css/training.css">
    <div class="row">
    <div class="col-lg-12">
      <form class="form-horizontal" method="post", action="/training">
        <fieldset>
          <legend>Let me know!</legend>
          <div class="form-group">
            <p class="col-lg-8 col-lg-offset-2">
                Joe Petrillo Hair Studio is providing training courses in the near future.
                To help us schedule and plan ahead, let us know if you are interested!
                There will be four courses available:
            </p>
          </div>
          <div class="form-group">
            <div class="options col-lg-12">
              <div class="col-lg-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      Cutting
                    </h3>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="true" name="type[cutting]">
                      </label>
                    </div>
                  </div>
                  <div class="panel-body">
                    Details
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Hair Up</h3>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="true" name="type[hair_up]">
                      </label>
                    </div>
                  </div>
                  <div class="panel-body">
                    Details
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Colouring</h3>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="true" name="type[colouring]">
                      </label>
                    </div>
                  </div>
                  <div class="panel-body">
                    Details
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Blow Drying</h3>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="true" name="type[drying]">
                      </label>
                    </div>
                  </div>
                  <div class="panel-body">
                    Details
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3 col-lg-offset-3">
              <input type="email" class="form-control" id="inputEmail" name="email" placeholder="email...">
            </div>
            <div class="col-lg-2">
              <button type="submit" class="btn btn-primary">Signup</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
